<div class="content-center">
  <h1>Welcome to the stock market administration module!</h1>
</div>
<div class="content-center">
  <p>Visit the <a class="link-like" href="http://localhost:4200/brokers">broker list</a> to study and edit it,
    visit the <a class="link-like" href="http://localhost:4200/stocks">stocks page</a> or change global bargain
    <a class="link-like" href="http://localhost:4200/settings">settings</a>.</p>
</div>
<div class="content-center content-below">
  <button class="button-like" (click)="saveSettings()">Save settings to file</button>
</div>
<router-outlet> </router-outlet>
